.root-home {
    height: 100vh;
    background: #f9f9f9;
    box-sizing: "border-box";
    position: relative;
}
.mine{
    position: absolute;
    bottom: 0;
    left: 40%;   
}   
.welcome{
    position: absolute;
    transform: rotate(90deg);
    right: -10%;
    top: 42%;
    opacity: 0.1;
}